<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mean Stack Todo List and Real Estate</title>
		<base href="/">
	</head>
	<body>
		<div ui-view></div>
		<script src="bundle.js"></script>
	</body>
</html>