<navigate-bar cur-sec='tab'></navigate-bar>
<div class="container">
    <h2>Your Life Span</h2>
    <label for="birthday">When is your Birthday?</label>
    |
    <label for="year">
    Year
        <select name="year" id="year" ng-model='yearSelected' ng-change = 'dataChange()'>
            <option ng-repeat="y in year track by $index" value='{{y}}'>{{y}}</option>
        </select>
    </label>
    |
    <label for="month">
    Month
        <select name="month" id="month" ng-model='monthSelected' ng-change = 'dataChange()'>
            <option ng-repeat="m in month track by $index" value='{{m}}' >{{m}}</option>
        </select>
    </label>
    |
    <label for="day">
    Day
        <select name="day" id="day" ng-model='daySelected' ng-change = 'dataChange()'>
            <option ng-repeat="d in day track by $index" value='{{d}}'>{{d}}</option>
        </select>
    </label>
    {{daySelected}}
    <table class='table table-bordered'>
        <tr>
            <td ng-class="{confirm: tempArray[0][0]}">x</td>
            <td ng-class="{confirm: tempArray[0][1]}">x</td>
            <td ng-class="{confirm: tempArray[0][2]}">x</td>
            <td ng-class="{confirm: tempArray[0][3]}">x</td>
            <td ng-class="{confirm: tempArray[0][4]}">x</td>
            <td ng-class="{confirm: tempArray[0][5]}">x</td>
            <td ng-class="{confirm: tempArray[0][6]}">x</td>
            <td ng-class="{confirm: tempArray[0][7]}">x</td>
            <td ng-class="{confirm: tempArray[0][8]}">x</td>
            <td ng-class="{confirm: tempArray[0][9]}">x</td>
            <td ng-class="{confirm: tempArray[0][10]}">x</td>
            <td ng-class="{confirm: tempArray[0][11]}">x</td>
            <td ng-class="{confirm: tempArray[0][12]}">x</td>
            <td ng-class="{confirm: tempArray[0][13]}">x</td>
            <td ng-class="{confirm: tempArray[0][14]}">x</td>
            <td ng-class="{confirm: tempArray[0][15]}">x</td>
            <td ng-class="{confirm: tempArray[0][16]}">x</td>
            <td ng-class="{confirm: tempArray[0][17]}">x</td>
            <td ng-class="{confirm: tempArray[0][18]}">x</td>
            <td ng-class="{confirm: tempArray[0][19]}">x</td>
            <td ng-class="{confirm: tempArray[0][20]}">x</td>
            <td ng-class="{confirm: tempArray[0][21]}">x</td>
            <td ng-class="{confirm: tempArray[0][22]}">x</td>
            <td ng-class="{confirm: tempArray[0][23]}">x</td>
            <td ng-class="{confirm: tempArray[0][24]}">x</td>
            <td ng-class="{confirm: tempArray[0][25]}">x</td>
            <td ng-class="{confirm: tempArray[0][26]}">x</td>
            <td ng-class="{confirm: tempArray[0][27]}">x</td>
            <td ng-class="{confirm: tempArray[0][28]}">x</td>
            <td ng-class="{confirm: tempArray[0][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[1][0]}">x</td>
            <td ng-class="{confirm: tempArray[1][1]}">x</td>
            <td ng-class="{confirm: tempArray[1][2]}">x</td>
            <td ng-class="{confirm: tempArray[1][3]}">x</td>
            <td ng-class="{confirm: tempArray[1][4]}">x</td>
            <td ng-class="{confirm: tempArray[1][5]}">x</td>
            <td ng-class="{confirm: tempArray[1][6]}">x</td>
            <td ng-class="{confirm: tempArray[1][7]}">x</td>
            <td ng-class="{confirm: tempArray[1][8]}">x</td>
            <td ng-class="{confirm: tempArray[1][9]}">x</td>
            <td ng-class="{confirm: tempArray[1][10]}">x</td>
            <td ng-class="{confirm: tempArray[1][11]}">x</td>
            <td ng-class="{confirm: tempArray[1][12]}">x</td>
            <td ng-class="{confirm: tempArray[1][13]}">x</td>
            <td ng-class="{confirm: tempArray[1][14]}">x</td>
            <td ng-class="{confirm: tempArray[1][15]}">x</td>
            <td ng-class="{confirm: tempArray[1][16]}">x</td>
            <td ng-class="{confirm: tempArray[1][17]}">x</td>
            <td ng-class="{confirm: tempArray[1][18]}">x</td>
            <td ng-class="{confirm: tempArray[1][19]}">x</td>
            <td ng-class="{confirm: tempArray[1][20]}">x</td>
            <td ng-class="{confirm: tempArray[1][21]}">x</td>
            <td ng-class="{confirm: tempArray[1][22]}">x</td>
            <td ng-class="{confirm: tempArray[1][23]}">x</td>
            <td ng-class="{confirm: tempArray[1][24]}">x</td>
            <td ng-class="{confirm: tempArray[1][25]}">x</td>
            <td ng-class="{confirm: tempArray[1][26]}">x</td>
            <td ng-class="{confirm: tempArray[1][27]}">x</td>
            <td ng-class="{confirm: tempArray[1][28]}">x</td>
            <td ng-class="{confirm: tempArray[1][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[2][0]}">x</td>
            <td ng-class="{confirm: tempArray[2][1]}">x</td>
            <td ng-class="{confirm: tempArray[2][2]}">x</td>
            <td ng-class="{confirm: tempArray[2][3]}">x</td>
            <td ng-class="{confirm: tempArray[2][4]}">x</td>
            <td ng-class="{confirm: tempArray[2][5]}">x</td>
            <td ng-class="{confirm: tempArray[2][6]}">x</td>
            <td ng-class="{confirm: tempArray[2][7]}">x</td>
            <td ng-class="{confirm: tempArray[2][8]}">x</td>
            <td ng-class="{confirm: tempArray[2][9]}">x</td>
            <td ng-class="{confirm: tempArray[2][10]}">x</td>
            <td ng-class="{confirm: tempArray[2][11]}">x</td>
            <td ng-class="{confirm: tempArray[2][12]}">x</td>
            <td ng-class="{confirm: tempArray[2][13]}">x</td>
            <td ng-class="{confirm: tempArray[2][14]}">x</td>
            <td ng-class="{confirm: tempArray[2][15]}">x</td>
            <td ng-class="{confirm: tempArray[2][16]}">x</td>
            <td ng-class="{confirm: tempArray[2][17]}">x</td>
            <td ng-class="{confirm: tempArray[2][18]}">x</td>
            <td ng-class="{confirm: tempArray[2][19]}">x</td>
            <td ng-class="{confirm: tempArray[2][20]}">x</td>
            <td ng-class="{confirm: tempArray[2][21]}">x</td>
            <td ng-class="{confirm: tempArray[2][22]}">x</td>
            <td ng-class="{confirm: tempArray[2][23]}">x</td>
            <td ng-class="{confirm: tempArray[2][24]}">x</td>
            <td ng-class="{confirm: tempArray[2][25]}">x</td>
            <td ng-class="{confirm: tempArray[2][26]}">x</td>
            <td ng-class="{confirm: tempArray[2][27]}">x</td>
            <td ng-class="{confirm: tempArray[2][28]}">x</td>
            <td ng-class="{confirm: tempArray[2][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[3][0]}">x</td>
            <td ng-class="{confirm: tempArray[3][1]}">x</td>
            <td ng-class="{confirm: tempArray[3][2]}">x</td>
            <td ng-class="{confirm: tempArray[3][3]}">x</td>
            <td ng-class="{confirm: tempArray[3][4]}">x</td>
            <td ng-class="{confirm: tempArray[3][5]}">x</td>
            <td ng-class="{confirm: tempArray[3][6]}">x</td>
            <td ng-class="{confirm: tempArray[3][7]}">x</td>
            <td ng-class="{confirm: tempArray[3][8]}">x</td>
            <td ng-class="{confirm: tempArray[3][9]}">x</td>
            <td ng-class="{confirm: tempArray[3][10]}">x</td>
            <td ng-class="{confirm: tempArray[3][11]}">x</td>
            <td ng-class="{confirm: tempArray[3][12]}">x</td>
            <td ng-class="{confirm: tempArray[3][13]}">x</td>
            <td ng-class="{confirm: tempArray[3][14]}">x</td>
            <td ng-class="{confirm: tempArray[3][15]}">x</td>
            <td ng-class="{confirm: tempArray[3][16]}">x</td>
            <td ng-class="{confirm: tempArray[3][17]}">x</td>
            <td ng-class="{confirm: tempArray[3][18]}">x</td>
            <td ng-class="{confirm: tempArray[3][19]}">x</td>
            <td ng-class="{confirm: tempArray[3][20]}">x</td>
            <td ng-class="{confirm: tempArray[3][21]}">x</td>
            <td ng-class="{confirm: tempArray[3][22]}">x</td>
            <td ng-class="{confirm: tempArray[3][23]}">x</td>
            <td ng-class="{confirm: tempArray[3][24]}">x</td>
            <td ng-class="{confirm: tempArray[3][25]}">x</td>
            <td ng-class="{confirm: tempArray[3][26]}">x</td>
            <td ng-class="{confirm: tempArray[3][27]}">x</td>
            <td ng-class="{confirm: tempArray[3][28]}">x</td>
            <td ng-class="{confirm: tempArray[3][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[4][0]}">x</td>
            <td ng-class="{confirm: tempArray[4][1]}">x</td>
            <td ng-class="{confirm: tempArray[4][2]}">x</td>
            <td ng-class="{confirm: tempArray[4][3]}">x</td>
            <td ng-class="{confirm: tempArray[4][4]}">x</td>
            <td ng-class="{confirm: tempArray[4][5]}">x</td>
            <td ng-class="{confirm: tempArray[4][6]}">x</td>
            <td ng-class="{confirm: tempArray[4][7]}">x</td>
            <td ng-class="{confirm: tempArray[4][8]}">x</td>
            <td ng-class="{confirm: tempArray[4][9]}">x</td>
            <td ng-class="{confirm: tempArray[4][10]}">x</td>
            <td ng-class="{confirm: tempArray[4][11]}">x</td>
            <td ng-class="{confirm: tempArray[4][12]}">x</td>
            <td ng-class="{confirm: tempArray[4][13]}">x</td>
            <td ng-class="{confirm: tempArray[4][14]}">x</td>
            <td ng-class="{confirm: tempArray[4][15]}">x</td>
            <td ng-class="{confirm: tempArray[4][16]}">x</td>
            <td ng-class="{confirm: tempArray[4][17]}">x</td>
            <td ng-class="{confirm: tempArray[4][18]}">x</td>
            <td ng-class="{confirm: tempArray[4][19]}">x</td>
            <td ng-class="{confirm: tempArray[4][20]}">x</td>
            <td ng-class="{confirm: tempArray[4][21]}">x</td>
            <td ng-class="{confirm: tempArray[4][22]}">x</td>
            <td ng-class="{confirm: tempArray[4][23]}">x</td>
            <td ng-class="{confirm: tempArray[4][24]}">x</td>
            <td ng-class="{confirm: tempArray[4][25]}">x</td>
            <td ng-class="{confirm: tempArray[4][26]}">x</td>
            <td ng-class="{confirm: tempArray[4][27]}">x</td>
            <td ng-class="{confirm: tempArray[4][28]}">x</td>
            <td ng-class="{confirm: tempArray[4][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[5][0]}">x</td>
            <td ng-class="{confirm: tempArray[5][1]}">x</td>
            <td ng-class="{confirm: tempArray[5][2]}">x</td>
            <td ng-class="{confirm: tempArray[5][3]}">x</td>
            <td ng-class="{confirm: tempArray[5][4]}">x</td>
            <td ng-class="{confirm: tempArray[5][5]}">x</td>
            <td ng-class="{confirm: tempArray[5][6]}">x</td>
            <td ng-class="{confirm: tempArray[5][7]}">x</td>
            <td ng-class="{confirm: tempArray[5][8]}">x</td>
            <td ng-class="{confirm: tempArray[5][9]}">x</td>
            <td ng-class="{confirm: tempArray[5][10]}">x</td>
            <td ng-class="{confirm: tempArray[5][11]}">x</td>
            <td ng-class="{confirm: tempArray[5][12]}">x</td>
            <td ng-class="{confirm: tempArray[5][13]}">x</td>
            <td ng-class="{confirm: tempArray[5][14]}">x</td>
            <td ng-class="{confirm: tempArray[5][15]}">x</td>
            <td ng-class="{confirm: tempArray[5][16]}">x</td>
            <td ng-class="{confirm: tempArray[5][17]}">x</td>
            <td ng-class="{confirm: tempArray[5][18]}">x</td>
            <td ng-class="{confirm: tempArray[5][19]}">x</td>
            <td ng-class="{confirm: tempArray[5][20]}">x</td>
            <td ng-class="{confirm: tempArray[5][21]}">x</td>
            <td ng-class="{confirm: tempArray[5][22]}">x</td>
            <td ng-class="{confirm: tempArray[5][23]}">x</td>
            <td ng-class="{confirm: tempArray[5][24]}">x</td>
            <td ng-class="{confirm: tempArray[5][25]}">x</td>
            <td ng-class="{confirm: tempArray[5][26]}">x</td>
            <td ng-class="{confirm: tempArray[5][27]}">x</td>
            <td ng-class="{confirm: tempArray[5][28]}">x</td>
            <td ng-class="{confirm: tempArray[5][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[6][0]}">x</td>
            <td ng-class="{confirm: tempArray[6][1]}">x</td>
            <td ng-class="{confirm: tempArray[6][2]}">x</td>
            <td ng-class="{confirm: tempArray[6][3]}">x</td>
            <td ng-class="{confirm: tempArray[6][4]}">x</td>
            <td ng-class="{confirm: tempArray[6][5]}">x</td>
            <td ng-class="{confirm: tempArray[6][6]}">x</td>
            <td ng-class="{confirm: tempArray[6][7]}">x</td>
            <td ng-class="{confirm: tempArray[6][8]}">x</td>
            <td ng-class="{confirm: tempArray[6][9]}">x</td>
            <td ng-class="{confirm: tempArray[6][10]}">x</td>
            <td ng-class="{confirm: tempArray[6][11]}">x</td>
            <td ng-class="{confirm: tempArray[6][12]}">x</td>
            <td ng-class="{confirm: tempArray[6][13]}">x</td>
            <td ng-class="{confirm: tempArray[6][14]}">x</td>
            <td ng-class="{confirm: tempArray[6][15]}">x</td>
            <td ng-class="{confirm: tempArray[6][16]}">x</td>
            <td ng-class="{confirm: tempArray[6][17]}">x</td>
            <td ng-class="{confirm: tempArray[6][18]}">x</td>
            <td ng-class="{confirm: tempArray[6][19]}">x</td>
            <td ng-class="{confirm: tempArray[6][20]}">x</td>
            <td ng-class="{confirm: tempArray[6][21]}">x</td>
            <td ng-class="{confirm: tempArray[6][22]}">x</td>
            <td ng-class="{confirm: tempArray[6][23]}">x</td>
            <td ng-class="{confirm: tempArray[6][24]}">x</td>
            <td ng-class="{confirm: tempArray[6][25]}">x</td>
            <td ng-class="{confirm: tempArray[6][26]}">x</td>
            <td ng-class="{confirm: tempArray[6][27]}">x</td>
            <td ng-class="{confirm: tempArray[6][28]}">x</td>
            <td ng-class="{confirm: tempArray[6][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[7][0]}">x</td>
            <td ng-class="{confirm: tempArray[7][1]}">x</td>
            <td ng-class="{confirm: tempArray[7][2]}">x</td>
            <td ng-class="{confirm: tempArray[7][3]}">x</td>
            <td ng-class="{confirm: tempArray[7][4]}">x</td>
            <td ng-class="{confirm: tempArray[7][5]}">x</td>
            <td ng-class="{confirm: tempArray[7][6]}">x</td>
            <td ng-class="{confirm: tempArray[7][7]}">x</td>
            <td ng-class="{confirm: tempArray[7][8]}">x</td>
            <td ng-class="{confirm: tempArray[7][9]}">x</td>
            <td ng-class="{confirm: tempArray[7][10]}">x</td>
            <td ng-class="{confirm: tempArray[7][11]}">x</td>
            <td ng-class="{confirm: tempArray[7][12]}">x</td>
            <td ng-class="{confirm: tempArray[7][13]}">x</td>
            <td ng-class="{confirm: tempArray[7][14]}">x</td>
            <td ng-class="{confirm: tempArray[7][15]}">x</td>
            <td ng-class="{confirm: tempArray[7][16]}">x</td>
            <td ng-class="{confirm: tempArray[7][17]}">x</td>
            <td ng-class="{confirm: tempArray[7][18]}">x</td>
            <td ng-class="{confirm: tempArray[7][19]}">x</td>
            <td ng-class="{confirm: tempArray[7][20]}">x</td>
            <td ng-class="{confirm: tempArray[7][21]}">x</td>
            <td ng-class="{confirm: tempArray[7][22]}">x</td>
            <td ng-class="{confirm: tempArray[7][23]}">x</td>
            <td ng-class="{confirm: tempArray[7][24]}">x</td>
            <td ng-class="{confirm: tempArray[7][25]}">x</td>
            <td ng-class="{confirm: tempArray[7][26]}">x</td>
            <td ng-class="{confirm: tempArray[7][27]}">x</td>
            <td ng-class="{confirm: tempArray[7][28]}">x</td>
            <td ng-class="{confirm: tempArray[7][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[8][0]}">x</td>
            <td ng-class="{confirm: tempArray[8][1]}">x</td>
            <td ng-class="{confirm: tempArray[8][2]}">x</td>
            <td ng-class="{confirm: tempArray[8][3]}">x</td>
            <td ng-class="{confirm: tempArray[8][4]}">x</td>
            <td ng-class="{confirm: tempArray[8][5]}">x</td>
            <td ng-class="{confirm: tempArray[8][6]}">x</td>
            <td ng-class="{confirm: tempArray[8][7]}">x</td>
            <td ng-class="{confirm: tempArray[8][8]}">x</td>
            <td ng-class="{confirm: tempArray[8][9]}">x</td>
            <td ng-class="{confirm: tempArray[8][10]}">x</td>
            <td ng-class="{confirm: tempArray[8][11]}">x</td>
            <td ng-class="{confirm: tempArray[8][12]}">x</td>
            <td ng-class="{confirm: tempArray[8][13]}">x</td>
            <td ng-class="{confirm: tempArray[8][14]}">x</td>
            <td ng-class="{confirm: tempArray[8][15]}">x</td>
            <td ng-class="{confirm: tempArray[8][16]}">x</td>
            <td ng-class="{confirm: tempArray[8][17]}">x</td>
            <td ng-class="{confirm: tempArray[8][18]}">x</td>
            <td ng-class="{confirm: tempArray[8][19]}">x</td>
            <td ng-class="{confirm: tempArray[8][20]}">x</td>
            <td ng-class="{confirm: tempArray[8][21]}">x</td>
            <td ng-class="{confirm: tempArray[8][22]}">x</td>
            <td ng-class="{confirm: tempArray[8][23]}">x</td>
            <td ng-class="{confirm: tempArray[8][24]}">x</td>
            <td ng-class="{confirm: tempArray[8][25]}">x</td>
            <td ng-class="{confirm: tempArray[8][26]}">x</td>
            <td ng-class="{confirm: tempArray[8][27]}">x</td>
            <td ng-class="{confirm: tempArray[8][28]}">x</td>
            <td ng-class="{confirm: tempArray[8][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[9][0]}">x</td>
            <td ng-class="{confirm: tempArray[9][1]}">x</td>
            <td ng-class="{confirm: tempArray[9][2]}">x</td>
            <td ng-class="{confirm: tempArray[9][3]}">x</td>
            <td ng-class="{confirm: tempArray[9][4]}">x</td>
            <td ng-class="{confirm: tempArray[9][5]}">x</td>
            <td ng-class="{confirm: tempArray[9][6]}">x</td>
            <td ng-class="{confirm: tempArray[9][7]}">x</td>
            <td ng-class="{confirm: tempArray[9][8]}">x</td>
            <td ng-class="{confirm: tempArray[9][9]}">x</td>
            <td ng-class="{confirm: tempArray[9][10]}">x</td>
            <td ng-class="{confirm: tempArray[9][11]}">x</td>
            <td ng-class="{confirm: tempArray[9][12]}">x</td>
            <td ng-class="{confirm: tempArray[9][13]}">x</td>
            <td ng-class="{confirm: tempArray[9][14]}">x</td>
            <td ng-class="{confirm: tempArray[9][15]}">x</td>
            <td ng-class="{confirm: tempArray[9][16]}">x</td>
            <td ng-class="{confirm: tempArray[9][17]}">x</td>
            <td ng-class="{confirm: tempArray[9][18]}">x</td>
            <td ng-class="{confirm: tempArray[9][19]}">x</td>
            <td ng-class="{confirm: tempArray[9][20]}">x</td>
            <td ng-class="{confirm: tempArray[9][21]}">x</td>
            <td ng-class="{confirm: tempArray[9][22]}">x</td>
            <td ng-class="{confirm: tempArray[9][23]}">x</td>
            <td ng-class="{confirm: tempArray[9][24]}">x</td>
            <td ng-class="{confirm: tempArray[9][25]}">x</td>
            <td ng-class="{confirm: tempArray[9][26]}">x</td>
            <td ng-class="{confirm: tempArray[9][27]}">x</td>
            <td ng-class="{confirm: tempArray[9][28]}">x</td>
            <td ng-class="{confirm: tempArray[9][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[10][0]}">x</td>
            <td ng-class="{confirm: tempArray[10][1]}">x</td>
            <td ng-class="{confirm: tempArray[10][2]}">x</td>
            <td ng-class="{confirm: tempArray[10][3]}">x</td>
            <td ng-class="{confirm: tempArray[10][4]}">x</td>
            <td ng-class="{confirm: tempArray[10][5]}">x</td>
            <td ng-class="{confirm: tempArray[10][6]}">x</td>
            <td ng-class="{confirm: tempArray[10][7]}">x</td>
            <td ng-class="{confirm: tempArray[10][8]}">x</td>
            <td ng-class="{confirm: tempArray[10][9]}">x</td>
            <td ng-class="{confirm: tempArray[10][10]}">x</td>
            <td ng-class="{confirm: tempArray[10][11]}">x</td>
            <td ng-class="{confirm: tempArray[10][12]}">x</td>
            <td ng-class="{confirm: tempArray[10][13]}">x</td>
            <td ng-class="{confirm: tempArray[10][14]}">x</td>
            <td ng-class="{confirm: tempArray[10][15]}">x</td>
            <td ng-class="{confirm: tempArray[10][16]}">x</td>
            <td ng-class="{confirm: tempArray[10][17]}">x</td>
            <td ng-class="{confirm: tempArray[10][18]}">x</td>
            <td ng-class="{confirm: tempArray[10][19]}">x</td>
            <td ng-class="{confirm: tempArray[10][20]}">x</td>
            <td ng-class="{confirm: tempArray[10][21]}">x</td>
            <td ng-class="{confirm: tempArray[10][22]}">x</td>
            <td ng-class="{confirm: tempArray[10][23]}">x</td>
            <td ng-class="{confirm: tempArray[10][24]}">x</td>
            <td ng-class="{confirm: tempArray[10][25]}">x</td>
            <td ng-class="{confirm: tempArray[10][26]}">x</td>
            <td ng-class="{confirm: tempArray[10][27]}">x</td>
            <td ng-class="{confirm: tempArray[10][28]}">x</td>
            <td ng-class="{confirm: tempArray[10][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[11][0]}">x</td>
            <td ng-class="{confirm: tempArray[11][1]}">x</td>
            <td ng-class="{confirm: tempArray[11][2]}">x</td>
            <td ng-class="{confirm: tempArray[11][3]}">x</td>
            <td ng-class="{confirm: tempArray[11][4]}">x</td>
            <td ng-class="{confirm: tempArray[11][5]}">x</td>
            <td ng-class="{confirm: tempArray[11][6]}">x</td>
            <td ng-class="{confirm: tempArray[11][7]}">x</td>
            <td ng-class="{confirm: tempArray[11][8]}">x</td>
            <td ng-class="{confirm: tempArray[11][9]}">x</td>
            <td ng-class="{confirm: tempArray[11][10]}">x</td>
            <td ng-class="{confirm: tempArray[11][11]}">x</td>
            <td ng-class="{confirm: tempArray[11][12]}">x</td>
            <td ng-class="{confirm: tempArray[11][13]}">x</td>
            <td ng-class="{confirm: tempArray[11][14]}">x</td>
            <td ng-class="{confirm: tempArray[11][15]}">x</td>
            <td ng-class="{confirm: tempArray[11][16]}">x</td>
            <td ng-class="{confirm: tempArray[11][17]}">x</td>
            <td ng-class="{confirm: tempArray[11][18]}">x</td>
            <td ng-class="{confirm: tempArray[11][19]}">x</td>
            <td ng-class="{confirm: tempArray[11][20]}">x</td>
            <td ng-class="{confirm: tempArray[11][21]}">x</td>
            <td ng-class="{confirm: tempArray[11][22]}">x</td>
            <td ng-class="{confirm: tempArray[11][23]}">x</td>
            <td ng-class="{confirm: tempArray[11][24]}">x</td>
            <td ng-class="{confirm: tempArray[11][25]}">x</td>
            <td ng-class="{confirm: tempArray[11][26]}">x</td>
            <td ng-class="{confirm: tempArray[11][27]}">x</td>
            <td ng-class="{confirm: tempArray[11][28]}">x</td>
            <td ng-class="{confirm: tempArray[11][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[12][0]}">x</td>
            <td ng-class="{confirm: tempArray[12][1]}">x</td>
            <td ng-class="{confirm: tempArray[12][2]}">x</td>
            <td ng-class="{confirm: tempArray[12][3]}">x</td>
            <td ng-class="{confirm: tempArray[12][4]}">x</td>
            <td ng-class="{confirm: tempArray[12][5]}">x</td>
            <td ng-class="{confirm: tempArray[12][6]}">x</td>
            <td ng-class="{confirm: tempArray[12][7]}">x</td>
            <td ng-class="{confirm: tempArray[12][8]}">x</td>
            <td ng-class="{confirm: tempArray[12][9]}">x</td>
            <td ng-class="{confirm: tempArray[12][10]}">x</td>
            <td ng-class="{confirm: tempArray[12][11]}">x</td>
            <td ng-class="{confirm: tempArray[12][12]}">x</td>
            <td ng-class="{confirm: tempArray[12][13]}">x</td>
            <td ng-class="{confirm: tempArray[12][14]}">x</td>
            <td ng-class="{confirm: tempArray[12][15]}">x</td>
            <td ng-class="{confirm: tempArray[12][16]}">x</td>
            <td ng-class="{confirm: tempArray[12][17]}">x</td>
            <td ng-class="{confirm: tempArray[12][18]}">x</td>
            <td ng-class="{confirm: tempArray[12][19]}">x</td>
            <td ng-class="{confirm: tempArray[12][20]}">x</td>
            <td ng-class="{confirm: tempArray[12][21]}">x</td>
            <td ng-class="{confirm: tempArray[12][22]}">x</td>
            <td ng-class="{confirm: tempArray[12][23]}">x</td>
            <td ng-class="{confirm: tempArray[12][24]}">x</td>
            <td ng-class="{confirm: tempArray[12][25]}">x</td>
            <td ng-class="{confirm: tempArray[12][26]}">x</td>
            <td ng-class="{confirm: tempArray[12][27]}">x</td>
            <td ng-class="{confirm: tempArray[12][28]}">x</td>
            <td ng-class="{confirm: tempArray[12][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[13][0]}">x</td>
            <td ng-class="{confirm: tempArray[13][1]}">x</td>
            <td ng-class="{confirm: tempArray[13][2]}">x</td>
            <td ng-class="{confirm: tempArray[13][3]}">x</td>
            <td ng-class="{confirm: tempArray[13][4]}">x</td>
            <td ng-class="{confirm: tempArray[13][5]}">x</td>
            <td ng-class="{confirm: tempArray[13][6]}">x</td>
            <td ng-class="{confirm: tempArray[13][7]}">x</td>
            <td ng-class="{confirm: tempArray[13][8]}">x</td>
            <td ng-class="{confirm: tempArray[13][9]}">x</td>
            <td ng-class="{confirm: tempArray[13][10]}">x</td>
            <td ng-class="{confirm: tempArray[13][11]}">x</td>
            <td ng-class="{confirm: tempArray[13][12]}">x</td>
            <td ng-class="{confirm: tempArray[13][13]}">x</td>
            <td ng-class="{confirm: tempArray[13][14]}">x</td>
            <td ng-class="{confirm: tempArray[13][15]}">x</td>
            <td ng-class="{confirm: tempArray[13][16]}">x</td>
            <td ng-class="{confirm: tempArray[13][17]}">x</td>
            <td ng-class="{confirm: tempArray[13][18]}">x</td>
            <td ng-class="{confirm: tempArray[13][19]}">x</td>
            <td ng-class="{confirm: tempArray[13][20]}">x</td>
            <td ng-class="{confirm: tempArray[13][21]}">x</td>
            <td ng-class="{confirm: tempArray[13][22]}">x</td>
            <td ng-class="{confirm: tempArray[13][23]}">x</td>
            <td ng-class="{confirm: tempArray[13][24]}">x</td>
            <td ng-class="{confirm: tempArray[13][25]}">x</td>
            <td ng-class="{confirm: tempArray[13][26]}">x</td>
            <td ng-class="{confirm: tempArray[13][27]}">x</td>
            <td ng-class="{confirm: tempArray[13][28]}">x</td>
            <td ng-class="{confirm: tempArray[13][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[14][0]}">x</td>
            <td ng-class="{confirm: tempArray[14][1]}">x</td>
            <td ng-class="{confirm: tempArray[14][2]}">x</td>
            <td ng-class="{confirm: tempArray[14][3]}">x</td>
            <td ng-class="{confirm: tempArray[14][4]}">x</td>
            <td ng-class="{confirm: tempArray[14][5]}">x</td>
            <td ng-class="{confirm: tempArray[14][6]}">x</td>
            <td ng-class="{confirm: tempArray[14][7]}">x</td>
            <td ng-class="{confirm: tempArray[14][8]}">x</td>
            <td ng-class="{confirm: tempArray[14][9]}">x</td>
            <td ng-class="{confirm: tempArray[14][10]}">x</td>
            <td ng-class="{confirm: tempArray[14][11]}">x</td>
            <td ng-class="{confirm: tempArray[14][12]}">x</td>
            <td ng-class="{confirm: tempArray[14][13]}">x</td>
            <td ng-class="{confirm: tempArray[14][14]}">x</td>
            <td ng-class="{confirm: tempArray[14][15]}">x</td>
            <td ng-class="{confirm: tempArray[14][16]}">x</td>
            <td ng-class="{confirm: tempArray[14][17]}">x</td>
            <td ng-class="{confirm: tempArray[14][18]}">x</td>
            <td ng-class="{confirm: tempArray[14][19]}">x</td>
            <td ng-class="{confirm: tempArray[14][20]}">x</td>
            <td ng-class="{confirm: tempArray[14][21]}">x</td>
            <td ng-class="{confirm: tempArray[14][22]}">x</td>
            <td ng-class="{confirm: tempArray[14][23]}">x</td>
            <td ng-class="{confirm: tempArray[14][24]}">x</td>
            <td ng-class="{confirm: tempArray[14][25]}">x</td>
            <td ng-class="{confirm: tempArray[14][26]}">x</td>
            <td ng-class="{confirm: tempArray[14][27]}">x</td>
            <td ng-class="{confirm: tempArray[14][28]}">x</td>
            <td ng-class="{confirm: tempArray[14][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[15][0]}">x</td>
            <td ng-class="{confirm: tempArray[15][1]}">x</td>
            <td ng-class="{confirm: tempArray[15][2]}">x</td>
            <td ng-class="{confirm: tempArray[15][3]}">x</td>
            <td ng-class="{confirm: tempArray[15][4]}">x</td>
            <td ng-class="{confirm: tempArray[15][5]}">x</td>
            <td ng-class="{confirm: tempArray[15][6]}">x</td>
            <td ng-class="{confirm: tempArray[15][7]}">x</td>
            <td ng-class="{confirm: tempArray[15][8]}">x</td>
            <td ng-class="{confirm: tempArray[15][9]}">x</td>
            <td ng-class="{confirm: tempArray[15][10]}">x</td>
            <td ng-class="{confirm: tempArray[15][11]}">x</td>
            <td ng-class="{confirm: tempArray[15][12]}">x</td>
            <td ng-class="{confirm: tempArray[15][13]}">x</td>
            <td ng-class="{confirm: tempArray[15][14]}">x</td>
            <td ng-class="{confirm: tempArray[15][15]}">x</td>
            <td ng-class="{confirm: tempArray[15][16]}">x</td>
            <td ng-class="{confirm: tempArray[15][17]}">x</td>
            <td ng-class="{confirm: tempArray[15][18]}">x</td>
            <td ng-class="{confirm: tempArray[15][19]}">x</td>
            <td ng-class="{confirm: tempArray[15][20]}">x</td>
            <td ng-class="{confirm: tempArray[15][21]}">x</td>
            <td ng-class="{confirm: tempArray[15][22]}">x</td>
            <td ng-class="{confirm: tempArray[15][23]}">x</td>
            <td ng-class="{confirm: tempArray[15][24]}">x</td>
            <td ng-class="{confirm: tempArray[15][25]}">x</td>
            <td ng-class="{confirm: tempArray[15][26]}">x</td>
            <td ng-class="{confirm: tempArray[15][27]}">x</td>
            <td ng-class="{confirm: tempArray[15][28]}">x</td>
            <td ng-class="{confirm: tempArray[15][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[16][0]}">x</td>
            <td ng-class="{confirm: tempArray[16][1]}">x</td>
            <td ng-class="{confirm: tempArray[16][2]}">x</td>
            <td ng-class="{confirm: tempArray[16][3]}">x</td>
            <td ng-class="{confirm: tempArray[16][4]}">x</td>
            <td ng-class="{confirm: tempArray[16][5]}">x</td>
            <td ng-class="{confirm: tempArray[16][6]}">x</td>
            <td ng-class="{confirm: tempArray[16][7]}">x</td>
            <td ng-class="{confirm: tempArray[16][8]}">x</td>
            <td ng-class="{confirm: tempArray[16][9]}">x</td>
            <td ng-class="{confirm: tempArray[16][10]}">x</td>
            <td ng-class="{confirm: tempArray[16][11]}">x</td>
            <td ng-class="{confirm: tempArray[16][12]}">x</td>
            <td ng-class="{confirm: tempArray[16][13]}">x</td>
            <td ng-class="{confirm: tempArray[16][14]}">x</td>
            <td ng-class="{confirm: tempArray[16][15]}">x</td>
            <td ng-class="{confirm: tempArray[16][16]}">x</td>
            <td ng-class="{confirm: tempArray[16][17]}">x</td>
            <td ng-class="{confirm: tempArray[16][18]}">x</td>
            <td ng-class="{confirm: tempArray[16][19]}">x</td>
            <td ng-class="{confirm: tempArray[16][20]}">x</td>
            <td ng-class="{confirm: tempArray[16][21]}">x</td>
            <td ng-class="{confirm: tempArray[16][22]}">x</td>
            <td ng-class="{confirm: tempArray[16][23]}">x</td>
            <td ng-class="{confirm: tempArray[16][24]}">x</td>
            <td ng-class="{confirm: tempArray[16][25]}">x</td>
            <td ng-class="{confirm: tempArray[16][26]}">x</td>
            <td ng-class="{confirm: tempArray[16][27]}">x</td>
            <td ng-class="{confirm: tempArray[16][28]}">x</td>
            <td ng-class="{confirm: tempArray[16][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[17][0]}">x</td>
            <td ng-class="{confirm: tempArray[17][1]}">x</td>
            <td ng-class="{confirm: tempArray[17][2]}">x</td>
            <td ng-class="{confirm: tempArray[17][3]}">x</td>
            <td ng-class="{confirm: tempArray[17][4]}">x</td>
            <td ng-class="{confirm: tempArray[17][5]}">x</td>
            <td ng-class="{confirm: tempArray[17][6]}">x</td>
            <td ng-class="{confirm: tempArray[17][7]}">x</td>
            <td ng-class="{confirm: tempArray[17][8]}">x</td>
            <td ng-class="{confirm: tempArray[17][9]}">x</td>
            <td ng-class="{confirm: tempArray[17][10]}">x</td>
            <td ng-class="{confirm: tempArray[17][11]}">x</td>
            <td ng-class="{confirm: tempArray[17][12]}">x</td>
            <td ng-class="{confirm: tempArray[17][13]}">x</td>
            <td ng-class="{confirm: tempArray[17][14]}">x</td>
            <td ng-class="{confirm: tempArray[17][15]}">x</td>
            <td ng-class="{confirm: tempArray[17][16]}">x</td>
            <td ng-class="{confirm: tempArray[17][17]}">x</td>
            <td ng-class="{confirm: tempArray[17][18]}">x</td>
            <td ng-class="{confirm: tempArray[17][19]}">x</td>
            <td ng-class="{confirm: tempArray[17][20]}">x</td>
            <td ng-class="{confirm: tempArray[17][21]}">x</td>
            <td ng-class="{confirm: tempArray[17][22]}">x</td>
            <td ng-class="{confirm: tempArray[17][23]}">x</td>
            <td ng-class="{confirm: tempArray[17][24]}">x</td>
            <td ng-class="{confirm: tempArray[17][25]}">x</td>
            <td ng-class="{confirm: tempArray[17][26]}">x</td>
            <td ng-class="{confirm: tempArray[17][27]}">x</td>
            <td ng-class="{confirm: tempArray[17][28]}">x</td>
            <td ng-class="{confirm: tempArray[17][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[18][0]}">x</td>
            <td ng-class="{confirm: tempArray[18][1]}">x</td>
            <td ng-class="{confirm: tempArray[18][2]}">x</td>
            <td ng-class="{confirm: tempArray[18][3]}">x</td>
            <td ng-class="{confirm: tempArray[18][4]}">x</td>
            <td ng-class="{confirm: tempArray[18][5]}">x</td>
            <td ng-class="{confirm: tempArray[18][6]}">x</td>
            <td ng-class="{confirm: tempArray[18][7]}">x</td>
            <td ng-class="{confirm: tempArray[18][8]}">x</td>
            <td ng-class="{confirm: tempArray[18][9]}">x</td>
            <td ng-class="{confirm: tempArray[18][10]}">x</td>
            <td ng-class="{confirm: tempArray[18][11]}">x</td>
            <td ng-class="{confirm: tempArray[18][12]}">x</td>
            <td ng-class="{confirm: tempArray[18][13]}">x</td>
            <td ng-class="{confirm: tempArray[18][14]}">x</td>
            <td ng-class="{confirm: tempArray[18][15]}">x</td>
            <td ng-class="{confirm: tempArray[18][16]}">x</td>
            <td ng-class="{confirm: tempArray[18][17]}">x</td>
            <td ng-class="{confirm: tempArray[18][18]}">x</td>
            <td ng-class="{confirm: tempArray[18][19]}">x</td>
            <td ng-class="{confirm: tempArray[18][20]}">x</td>
            <td ng-class="{confirm: tempArray[18][21]}">x</td>
            <td ng-class="{confirm: tempArray[18][22]}">x</td>
            <td ng-class="{confirm: tempArray[18][23]}">x</td>
            <td ng-class="{confirm: tempArray[18][24]}">x</td>
            <td ng-class="{confirm: tempArray[18][25]}">x</td>
            <td ng-class="{confirm: tempArray[18][26]}">x</td>
            <td ng-class="{confirm: tempArray[18][27]}">x</td>
            <td ng-class="{confirm: tempArray[18][28]}">x</td>
            <td ng-class="{confirm: tempArray[18][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[19][0]}">x</td>
            <td ng-class="{confirm: tempArray[19][1]}">x</td>
            <td ng-class="{confirm: tempArray[19][2]}">x</td>
            <td ng-class="{confirm: tempArray[19][3]}">x</td>
            <td ng-class="{confirm: tempArray[19][4]}">x</td>
            <td ng-class="{confirm: tempArray[19][5]}">x</td>
            <td ng-class="{confirm: tempArray[19][6]}">x</td>
            <td ng-class="{confirm: tempArray[19][7]}">x</td>
            <td ng-class="{confirm: tempArray[19][8]}">x</td>
            <td ng-class="{confirm: tempArray[19][9]}">x</td>
            <td ng-class="{confirm: tempArray[19][10]}">x</td>
            <td ng-class="{confirm: tempArray[19][11]}">x</td>
            <td ng-class="{confirm: tempArray[19][12]}">x</td>
            <td ng-class="{confirm: tempArray[19][13]}">x</td>
            <td ng-class="{confirm: tempArray[19][14]}">x</td>
            <td ng-class="{confirm: tempArray[19][15]}">x</td>
            <td ng-class="{confirm: tempArray[19][16]}">x</td>
            <td ng-class="{confirm: tempArray[19][17]}">x</td>
            <td ng-class="{confirm: tempArray[19][18]}">x</td>
            <td ng-class="{confirm: tempArray[19][19]}">x</td>
            <td ng-class="{confirm: tempArray[19][20]}">x</td>
            <td ng-class="{confirm: tempArray[19][21]}">x</td>
            <td ng-class="{confirm: tempArray[19][22]}">x</td>
            <td ng-class="{confirm: tempArray[19][23]}">x</td>
            <td ng-class="{confirm: tempArray[19][24]}">x</td>
            <td ng-class="{confirm: tempArray[19][25]}">x</td>
            <td ng-class="{confirm: tempArray[19][26]}">x</td>
            <td ng-class="{confirm: tempArray[19][27]}">x</td>
            <td ng-class="{confirm: tempArray[19][28]}">x</td>
            <td ng-class="{confirm: tempArray[19][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[20][0]}">x</td>
            <td ng-class="{confirm: tempArray[20][1]}">x</td>
            <td ng-class="{confirm: tempArray[20][2]}">x</td>
            <td ng-class="{confirm: tempArray[20][3]}">x</td>
            <td ng-class="{confirm: tempArray[20][4]}">x</td>
            <td ng-class="{confirm: tempArray[20][5]}">x</td>
            <td ng-class="{confirm: tempArray[20][6]}">x</td>
            <td ng-class="{confirm: tempArray[20][7]}">x</td>
            <td ng-class="{confirm: tempArray[20][8]}">x</td>
            <td ng-class="{confirm: tempArray[20][9]}">x</td>
            <td ng-class="{confirm: tempArray[20][10]}">x</td>
            <td ng-class="{confirm: tempArray[20][11]}">x</td>
            <td ng-class="{confirm: tempArray[20][12]}">x</td>
            <td ng-class="{confirm: tempArray[20][13]}">x</td>
            <td ng-class="{confirm: tempArray[20][14]}">x</td>
            <td ng-class="{confirm: tempArray[20][15]}">x</td>
            <td ng-class="{confirm: tempArray[20][16]}">x</td>
            <td ng-class="{confirm: tempArray[20][17]}">x</td>
            <td ng-class="{confirm: tempArray[20][18]}">x</td>
            <td ng-class="{confirm: tempArray[20][19]}">x</td>
            <td ng-class="{confirm: tempArray[20][20]}">x</td>
            <td ng-class="{confirm: tempArray[20][21]}">x</td>
            <td ng-class="{confirm: tempArray[20][22]}">x</td>
            <td ng-class="{confirm: tempArray[20][23]}">x</td>
            <td ng-class="{confirm: tempArray[20][24]}">x</td>
            <td ng-class="{confirm: tempArray[20][25]}">x</td>
            <td ng-class="{confirm: tempArray[20][26]}">x</td>
            <td ng-class="{confirm: tempArray[20][27]}">x</td>
            <td ng-class="{confirm: tempArray[20][28]}">x</td>
            <td ng-class="{confirm: tempArray[20][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[21][0]}">x</td>
            <td ng-class="{confirm: tempArray[21][1]}">x</td>
            <td ng-class="{confirm: tempArray[21][2]}">x</td>
            <td ng-class="{confirm: tempArray[21][3]}">x</td>
            <td ng-class="{confirm: tempArray[21][4]}">x</td>
            <td ng-class="{confirm: tempArray[21][5]}">x</td>
            <td ng-class="{confirm: tempArray[21][6]}">x</td>
            <td ng-class="{confirm: tempArray[21][7]}">x</td>
            <td ng-class="{confirm: tempArray[21][8]}">x</td>
            <td ng-class="{confirm: tempArray[21][9]}">x</td>
            <td ng-class="{confirm: tempArray[21][10]}">x</td>
            <td ng-class="{confirm: tempArray[21][11]}">x</td>
            <td ng-class="{confirm: tempArray[21][12]}">x</td>
            <td ng-class="{confirm: tempArray[21][13]}">x</td>
            <td ng-class="{confirm: tempArray[21][14]}">x</td>
            <td ng-class="{confirm: tempArray[21][15]}">x</td>
            <td ng-class="{confirm: tempArray[21][16]}">x</td>
            <td ng-class="{confirm: tempArray[21][17]}">x</td>
            <td ng-class="{confirm: tempArray[21][18]}">x</td>
            <td ng-class="{confirm: tempArray[21][19]}">x</td>
            <td ng-class="{confirm: tempArray[21][20]}">x</td>
            <td ng-class="{confirm: tempArray[21][21]}">x</td>
            <td ng-class="{confirm: tempArray[21][22]}">x</td>
            <td ng-class="{confirm: tempArray[21][23]}">x</td>
            <td ng-class="{confirm: tempArray[21][24]}">x</td>
            <td ng-class="{confirm: tempArray[21][25]}">x</td>
            <td ng-class="{confirm: tempArray[21][26]}">x</td>
            <td ng-class="{confirm: tempArray[21][27]}">x</td>
            <td ng-class="{confirm: tempArray[21][28]}">x</td>
            <td ng-class="{confirm: tempArray[21][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[22][0]}">x</td>
            <td ng-class="{confirm: tempArray[22][1]}">x</td>
            <td ng-class="{confirm: tempArray[22][2]}">x</td>
            <td ng-class="{confirm: tempArray[22][3]}">x</td>
            <td ng-class="{confirm: tempArray[22][4]}">x</td>
            <td ng-class="{confirm: tempArray[22][5]}">x</td>
            <td ng-class="{confirm: tempArray[22][6]}">x</td>
            <td ng-class="{confirm: tempArray[22][7]}">x</td>
            <td ng-class="{confirm: tempArray[22][8]}">x</td>
            <td ng-class="{confirm: tempArray[22][9]}">x</td>
            <td ng-class="{confirm: tempArray[22][10]}">x</td>
            <td ng-class="{confirm: tempArray[22][11]}">x</td>
            <td ng-class="{confirm: tempArray[22][12]}">x</td>
            <td ng-class="{confirm: tempArray[22][13]}">x</td>
            <td ng-class="{confirm: tempArray[22][14]}">x</td>
            <td ng-class="{confirm: tempArray[22][15]}">x</td>
            <td ng-class="{confirm: tempArray[22][16]}">x</td>
            <td ng-class="{confirm: tempArray[22][17]}">x</td>
            <td ng-class="{confirm: tempArray[22][18]}">x</td>
            <td ng-class="{confirm: tempArray[22][19]}">x</td>
            <td ng-class="{confirm: tempArray[22][20]}">x</td>
            <td ng-class="{confirm: tempArray[22][21]}">x</td>
            <td ng-class="{confirm: tempArray[22][22]}">x</td>
            <td ng-class="{confirm: tempArray[22][23]}">x</td>
            <td ng-class="{confirm: tempArray[22][24]}">x</td>
            <td ng-class="{confirm: tempArray[22][25]}">x</td>
            <td ng-class="{confirm: tempArray[22][26]}">x</td>
            <td ng-class="{confirm: tempArray[22][27]}">x</td>
            <td ng-class="{confirm: tempArray[22][28]}">x</td>
            <td ng-class="{confirm: tempArray[22][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[23][0]}">x</td>
            <td ng-class="{confirm: tempArray[23][1]}">x</td>
            <td ng-class="{confirm: tempArray[23][2]}">x</td>
            <td ng-class="{confirm: tempArray[23][3]}">x</td>
            <td ng-class="{confirm: tempArray[23][4]}">x</td>
            <td ng-class="{confirm: tempArray[23][5]}">x</td>
            <td ng-class="{confirm: tempArray[23][6]}">x</td>
            <td ng-class="{confirm: tempArray[23][7]}">x</td>
            <td ng-class="{confirm: tempArray[23][8]}">x</td>
            <td ng-class="{confirm: tempArray[23][9]}">x</td>
            <td ng-class="{confirm: tempArray[23][10]}">x</td>
            <td ng-class="{confirm: tempArray[23][11]}">x</td>
            <td ng-class="{confirm: tempArray[23][12]}">x</td>
            <td ng-class="{confirm: tempArray[23][13]}">x</td>
            <td ng-class="{confirm: tempArray[23][14]}">x</td>
            <td ng-class="{confirm: tempArray[23][15]}">x</td>
            <td ng-class="{confirm: tempArray[23][16]}">x</td>
            <td ng-class="{confirm: tempArray[23][17]}">x</td>
            <td ng-class="{confirm: tempArray[23][18]}">x</td>
            <td ng-class="{confirm: tempArray[23][19]}">x</td>
            <td ng-class="{confirm: tempArray[23][20]}">x</td>
            <td ng-class="{confirm: tempArray[23][21]}">x</td>
            <td ng-class="{confirm: tempArray[23][22]}">x</td>
            <td ng-class="{confirm: tempArray[23][23]}">x</td>
            <td ng-class="{confirm: tempArray[23][24]}">x</td>
            <td ng-class="{confirm: tempArray[23][25]}">x</td>
            <td ng-class="{confirm: tempArray[23][26]}">x</td>
            <td ng-class="{confirm: tempArray[23][27]}">x</td>
            <td ng-class="{confirm: tempArray[23][28]}">x</td>
            <td ng-class="{confirm: tempArray[23][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[24][0]}">x</td>
            <td ng-class="{confirm: tempArray[24][1]}">x</td>
            <td ng-class="{confirm: tempArray[24][2]}">x</td>
            <td ng-class="{confirm: tempArray[24][3]}">x</td>
            <td ng-class="{confirm: tempArray[24][4]}">x</td>
            <td ng-class="{confirm: tempArray[24][5]}">x</td>
            <td ng-class="{confirm: tempArray[24][6]}">x</td>
            <td ng-class="{confirm: tempArray[24][7]}">x</td>
            <td ng-class="{confirm: tempArray[24][8]}">x</td>
            <td ng-class="{confirm: tempArray[24][9]}">x</td>
            <td ng-class="{confirm: tempArray[24][10]}">x</td>
            <td ng-class="{confirm: tempArray[24][11]}">x</td>
            <td ng-class="{confirm: tempArray[24][12]}">x</td>
            <td ng-class="{confirm: tempArray[24][13]}">x</td>
            <td ng-class="{confirm: tempArray[24][14]}">x</td>
            <td ng-class="{confirm: tempArray[24][15]}">x</td>
            <td ng-class="{confirm: tempArray[24][16]}">x</td>
            <td ng-class="{confirm: tempArray[24][17]}">x</td>
            <td ng-class="{confirm: tempArray[24][18]}">x</td>
            <td ng-class="{confirm: tempArray[24][19]}">x</td>
            <td ng-class="{confirm: tempArray[24][20]}">x</td>
            <td ng-class="{confirm: tempArray[24][21]}">x</td>
            <td ng-class="{confirm: tempArray[24][22]}">x</td>
            <td ng-class="{confirm: tempArray[24][23]}">x</td>
            <td ng-class="{confirm: tempArray[24][24]}">x</td>
            <td ng-class="{confirm: tempArray[24][25]}">x</td>
            <td ng-class="{confirm: tempArray[24][26]}">x</td>
            <td ng-class="{confirm: tempArray[24][27]}">x</td>
            <td ng-class="{confirm: tempArray[24][28]}">x</td>
            <td ng-class="{confirm: tempArray[24][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[25][0]}">x</td>
            <td ng-class="{confirm: tempArray[25][1]}">x</td>
            <td ng-class="{confirm: tempArray[25][2]}">x</td>
            <td ng-class="{confirm: tempArray[25][3]}">x</td>
            <td ng-class="{confirm: tempArray[25][4]}">x</td>
            <td ng-class="{confirm: tempArray[25][5]}">x</td>
            <td ng-class="{confirm: tempArray[25][6]}">x</td>
            <td ng-class="{confirm: tempArray[25][7]}">x</td>
            <td ng-class="{confirm: tempArray[25][8]}">x</td>
            <td ng-class="{confirm: tempArray[25][9]}">x</td>
            <td ng-class="{confirm: tempArray[25][10]}">x</td>
            <td ng-class="{confirm: tempArray[25][11]}">x</td>
            <td ng-class="{confirm: tempArray[25][12]}">x</td>
            <td ng-class="{confirm: tempArray[25][13]}">x</td>
            <td ng-class="{confirm: tempArray[25][14]}">x</td>
            <td ng-class="{confirm: tempArray[25][15]}">x</td>
            <td ng-class="{confirm: tempArray[25][16]}">x</td>
            <td ng-class="{confirm: tempArray[25][17]}">x</td>
            <td ng-class="{confirm: tempArray[25][18]}">x</td>
            <td ng-class="{confirm: tempArray[25][19]}">x</td>
            <td ng-class="{confirm: tempArray[25][20]}">x</td>
            <td ng-class="{confirm: tempArray[25][21]}">x</td>
            <td ng-class="{confirm: tempArray[25][22]}">x</td>
            <td ng-class="{confirm: tempArray[25][23]}">x</td>
            <td ng-class="{confirm: tempArray[25][24]}">x</td>
            <td ng-class="{confirm: tempArray[25][25]}">x</td>
            <td ng-class="{confirm: tempArray[25][26]}">x</td>
            <td ng-class="{confirm: tempArray[25][27]}">x</td>
            <td ng-class="{confirm: tempArray[25][28]}">x</td>
            <td ng-class="{confirm: tempArray[25][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[26][0]}">x</td>
            <td ng-class="{confirm: tempArray[26][1]}">x</td>
            <td ng-class="{confirm: tempArray[26][2]}">x</td>
            <td ng-class="{confirm: tempArray[26][3]}">x</td>
            <td ng-class="{confirm: tempArray[26][4]}">x</td>
            <td ng-class="{confirm: tempArray[26][5]}">x</td>
            <td ng-class="{confirm: tempArray[26][6]}">x</td>
            <td ng-class="{confirm: tempArray[26][7]}">x</td>
            <td ng-class="{confirm: tempArray[26][8]}">x</td>
            <td ng-class="{confirm: tempArray[26][9]}">x</td>
            <td ng-class="{confirm: tempArray[26][10]}">x</td>
            <td ng-class="{confirm: tempArray[26][11]}">x</td>
            <td ng-class="{confirm: tempArray[26][12]}">x</td>
            <td ng-class="{confirm: tempArray[26][13]}">x</td>
            <td ng-class="{confirm: tempArray[26][14]}">x</td>
            <td ng-class="{confirm: tempArray[26][15]}">x</td>
            <td ng-class="{confirm: tempArray[26][16]}">x</td>
            <td ng-class="{confirm: tempArray[26][17]}">x</td>
            <td ng-class="{confirm: tempArray[26][18]}">x</td>
            <td ng-class="{confirm: tempArray[26][19]}">x</td>
            <td ng-class="{confirm: tempArray[26][20]}">x</td>
            <td ng-class="{confirm: tempArray[26][21]}">x</td>
            <td ng-class="{confirm: tempArray[26][22]}">x</td>
            <td ng-class="{confirm: tempArray[26][23]}">x</td>
            <td ng-class="{confirm: tempArray[26][24]}">x</td>
            <td ng-class="{confirm: tempArray[26][25]}">x</td>
            <td ng-class="{confirm: tempArray[26][26]}">x</td>
            <td ng-class="{confirm: tempArray[26][27]}">x</td>
            <td ng-class="{confirm: tempArray[26][28]}">x</td>
            <td ng-class="{confirm: tempArray[26][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[27][0]}">x</td>
            <td ng-class="{confirm: tempArray[27][1]}">x</td>
            <td ng-class="{confirm: tempArray[27][2]}">x</td>
            <td ng-class="{confirm: tempArray[27][3]}">x</td>
            <td ng-class="{confirm: tempArray[27][4]}">x</td>
            <td ng-class="{confirm: tempArray[27][5]}">x</td>
            <td ng-class="{confirm: tempArray[27][6]}">x</td>
            <td ng-class="{confirm: tempArray[27][7]}">x</td>
            <td ng-class="{confirm: tempArray[27][8]}">x</td>
            <td ng-class="{confirm: tempArray[27][9]}">x</td>
            <td ng-class="{confirm: tempArray[27][10]}">x</td>
            <td ng-class="{confirm: tempArray[27][11]}">x</td>
            <td ng-class="{confirm: tempArray[27][12]}">x</td>
            <td ng-class="{confirm: tempArray[27][13]}">x</td>
            <td ng-class="{confirm: tempArray[27][14]}">x</td>
            <td ng-class="{confirm: tempArray[27][15]}">x</td>
            <td ng-class="{confirm: tempArray[27][16]}">x</td>
            <td ng-class="{confirm: tempArray[27][17]}">x</td>
            <td ng-class="{confirm: tempArray[27][18]}">x</td>
            <td ng-class="{confirm: tempArray[27][19]}">x</td>
            <td ng-class="{confirm: tempArray[27][20]}">x</td>
            <td ng-class="{confirm: tempArray[27][21]}">x</td>
            <td ng-class="{confirm: tempArray[27][22]}">x</td>
            <td ng-class="{confirm: tempArray[27][23]}">x</td>
            <td ng-class="{confirm: tempArray[27][24]}">x</td>
            <td ng-class="{confirm: tempArray[27][25]}">x</td>
            <td ng-class="{confirm: tempArray[27][26]}">x</td>
            <td ng-class="{confirm: tempArray[27][27]}">x</td>
            <td ng-class="{confirm: tempArray[27][28]}">x</td>
            <td ng-class="{confirm: tempArray[27][29]}">x</td>
        </tr>
        <tr>
            <td ng-class="{confirm: tempArray[28][0]}">x</td>
            <td ng-class="{confirm: tempArray[28][1]}">x</td>
            <td ng-class="{confirm: tempArray[28][2]}">x</td>
            <td ng-class="{confirm: tempArray[28][3]}">x</td>
            <td ng-class="{confirm: tempArray[28][4]}">x</td>
            <td ng-class="{confirm: tempArray[28][5]}">x</td>
            <td ng-class="{confirm: tempArray[28][6]}">x</td>
            <td ng-class="{confirm: tempArray[28][7]}">x</td>
            <td ng-class="{confirm: tempArray[28][8]}">x</td>
            <td ng-class="{confirm: tempArray[28][9]}">x</td>
            <td ng-class="{confirm: tempArray[28][10]}">x</td>
            <td ng-class="{confirm: tempArray[28][11]}">x</td>
            <td ng-class="{confirm: tempArray[28][12]}">x</td>
            <td ng-class="{confirm: tempArray[28][13]}">x</td>
            <td ng-class="{confirm: tempArray[28][14]}">x</td>
            <td ng-class="{confirm: tempArray[28][15]}">x</td>
            <td ng-class="{confirm: tempArray[28][16]}">x</td>
            <td ng-class="{confirm: tempArray[28][17]}">x</td>
            <td ng-class="{confirm: tempArray[28][18]}">x</td>
            <td ng-class="{confirm: tempArray[28][19]}">x</td>
            <td ng-class="{confirm: tempArray[28][20]}">x</td>
            <td ng-class="{confirm: tempArray[28][21]}">x</td>
            <td ng-class="{confirm: tempArray[28][22]}">x</td>
            <td ng-class="{confirm: tempArray[28][23]}">x</td>
            <td ng-class="{confirm: tempArray[28][24]}">x</td>
            <td ng-class="{confirm: tempArray[28][25]}">x</td>
            <td ng-class="{confirm: tempArray[28][26]}">x</td>
            <td ng-class="{confirm: tempArray[28][27]}">x</td>
            <td ng-class="{confirm: tempArray[28][28]}">x</td>
            <td ng-class="{confirm: tempArray[28][29]}">x</td>
        </tr>
    </table>
</div>
