<navigate-bar></navigate-bar>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <form ng-submit="registerUser()" name='registerForm'>
            <div class="form-group has-feedback">
                <input name='username' type="text" class='form-control' ng-model='username' placeholder="Username" ng-keyup='checkUsername()'>
                <i ng-class="{'glyphicon': usernameValid, 'glyphicon-ok': usernameValid, 'form-control-feedback' : usernameValid}"></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-keyup='checkPassword()' type="password" class='form-control' placeholder="Password" ng-model='password1'>
                <i ng-show='password1Valid' class='glyphicon glyphicon-ok form-control-feedback'></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-keyup='checkPassword()' type="password" class='form-control' placeholder="Password" ng-model='password2'>
                <i ng-show='password2Valid' class="glyphicon glyphicon-ok form-control-feedback"></i>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <input type="submit" ng-disabled='submitReady' class='btn btn-success form-control' value='Register Now'>
                </div>
            </div>
        </form>
    </div>
</div>